body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

p {
    font-size: 14px;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cv-paper {
    width: 8.5in;
    height: 11in;
    border: 1px solid #000000;
    padding: 0.5in;
}


.cv-header-title, .cv-profile, .cv-education {
    margin-bottom: 30px;
}

.cv-general-title, .cv-body-title {
    font-weight: bold;
}


.cv-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}


.cv-header-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cv-header-name {
    margin-bottom: 5px;
    font-size: 36px;
}
.cv-header-title {
    font-weight: normal;
    font-size: 20px;
}


.cv-body-title {
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

.cv-general-info {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
}

.cv-image {
    margin: 0 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    flex-shrink: 0;

    background-image: url("../assets/blank-profile.png");
    background-size: contain;
}

.cv-image-content {
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

.educational-entries, .practical-entries {
    display: grid;
    row-gap: 10px;
}

.practical-entry, .educational-entry {
    display: grid;
    grid-template-columns: 30% 70%;
}


.generic-entry-date,
.educational-entry-degree,
.practical-entry-position {
    font-weight: bold;
}
