label, .cv-section-label {
    font-size: 18px;
}

.label-input-pair {
    display: flex;
    flex-direction: column;
}

.cv-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cv-profile-textarea {
    resize: vertical;
}

.name-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
